
<!-- Nav -->
			<nav id="menu">
				<ul class="links">
				    <li><a href="index.php">Index</a></li>
					<li><a href="vsanmartin.php">Chuletillas al sarmiento</a></li>
					<li><a href="iramirez.php">Brownie de chocolate</a></li>
					<li><a href="mpetruzzella.php">Carta de cervezas</a></li>
					<li><a href="cbermejo.php">Agua fresquita</a></li>
					<li><a href="rburgos.php">Albondigas con tomate</a></li>
					<li><a href="mfresneda.php">Al Rico Camuño</a></li>		
					<li><a href="adiez.php">Macarrones con queso</a></li>
					<li><a href="huevos_fritos.php">Huevos fritos</a></li>
					<li><a href="vlahoz.php">Coles de bruselas con ajo y guindilla</a></li>
					<li><a href="rsaenz2.php">Arepa Pelua</a></li>
					<li><a href="rsaenz.php">Arepa Reina pepiada</a></li>


				</ul>
			</nav>